.container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
  background-image: url("https://media.istockphoto.com/id/1292500139/es/foto/vista-a%C3%A9rea-panor%C3%A1mica-de-un-suburbio-de-lujo-en-atlanta.jpg?s=2048x2048&w=is&k=20&c=zz_5-AcaQhF1uDgZbkdaD9NNgfMf9xxL6bDiLQ6FrZE=");
  background-size: cover;
  background-position: center;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  gap: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-title {
  padding: 20px 0;
  text-align: center;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-bottom: 40px;
}

label {
  font-size: 0.8rem;
  font-family: var(--primary-font);
}

button {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  background-color: var(--btn-primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--primary-font);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--btn-secondary-color);
}

/* Media queries */

/* Para tablet */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-section {
    display: none;
  }

  .form-section {
    margin-top: 20px;
  }
}

/* Para teléfono */
@media (max-width: 480px) {
  .image-section {
    display: none;
  }

  .form-section {
    margin-top: 0;
  }
}
